<launch>

    <include file="$(find odrive_ros)/launch/odrive.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar_a3.launch"/>
    <!--include file="$(find ox)/online_async.launch"/-->

    <param name="robot_description" command="$(find xacro)/xacro '$(find mars_robot)/description/robot.urdf.xacro'"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type='robot_state_publisher' output="screen"/>

    <!--node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
        <rosparam command="load" file="$(find mars_robot)/config/mapper_params_online_async.yaml" />
    </node-->

	<!--include file="$(find amcl)/examples/amcl_diff.launch" /-->

</launch>