<launch>

   <master auto="start"/>
   <include file="$(find odrive_ros)/launch/odrive.launch"/>
   <include file="$(find rplidar_ros)/launch/rplidar_a3.launch"/>

 <!--- Run AMCL --> 
    

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find mars_2dnav)/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find mars_2dnav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mars_2dnav)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mars_2dnav)/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find mars_2dnav)/base_local_planner_params.yaml" command="load" />
   </node>

   <node pkg="rviz" type="rviz" name="rviz">
   </node> 

   <node pkg="localization_data_pub" type="rviz_click_to_2d" name="rviz_click_to_2d">
   </node>
   
   <arg name="map_file" default="$(find mars_2dnav)/blank_map.yaml"/>
   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

   <!--node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="/scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="base_footprint"/>
    <param name="update_min_d" value="0.5"/>
    <param name="update_min_a" value="1.0"/>
   </node-->

</launch> 
